
.page{
    overflow-y: auto;
    height: 85vh;
    padding-bottom: 30px;
    
}
.page::-webkit-scrollbar{
    display: none;
}

.heading{
    text-align: center;

}
h3{
    text-align: center;
    width: auto;
}

body {
    font-family: Arial, sans-serif;
}
.announcements {
    position: relative;
    text-align: center;
}
.calendar {
    text-align: center;
    margin-top: 20px;
}

.container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 90%;
    margin: auto;
    padding: 25px 0px 10px 0px;
}
.full-width {
    grid-column: span 2;
    text-align: center;
}
.box {
    padding: 20px;
    border: 1px solid #ccc;
    background: white;
    text-align: center;
}

.btn{
    background: #637dff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
  }

  
.btn-primary:hover {
    background: #f2693f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }