h1 {
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}

.container {
  max-width: 900px;
  margin: auto;
  border-radius: 15px;
}

.form-control {
  height: 30px;
  border-radius: 10px; /* Rounded corners */
  padding: 12px; /* More padding for a modern look */
  border: 1.5px solid #ccc; /* Slightly darker border */
  transition: all 0.3s ease-in-out;
}

.form-control:focus {
  border-color: #ff9800; /* Highlight color */
  box-shadow: 0 0 10px rgba(255, 152, 0, 0.4);
}

.btn-primary {
  background: #d84315;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  font-weight: bold;
}

.btn-primary:hover {
  background: #f2693f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
  background: #444;
  color: white;
  border-radius: 8px;
  padding: 12px 20px;
}

.btn-secondary:hover {
  background: #666;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
}
