body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: fixed; 
}

.container {
    height: 100vh;
    overflow-y: auto;
    position: relative;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    border-radius: 80px;
    background-size: 20px;
    
}
html::-webkit-scrollbar {
    width: 10px;
    display: none;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    max-width: 1500px;
    padding: 20px;
}

.team2{
    margin-bottom: 10px;
    font-size: 30px;  
    font-weight: bold;  
    list-style: none;
    padding: 50px 75px;
    text-align: left;
    background-image: url('/assets/empty_image.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70px;
    text-align: left;

}

.team-box {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0.75;
}

.employee{
    font-size: 25px;
    text-align: left;
    
}




