<!DOCTYPE html>
<html lang="en" class="body">
    <title>Team Blocks</title>
    <link rel="stylesheet" href="teams.component.css">

<body class="body1">


    <div class="container">
        <h1>Our Teams</h1>
        
        <div class="container2">
        <div class="team-box">
            <li class="team2">Team Alpha</li>
            <ul class="employee">
                <li>John Doe</li>
                <li>Jane Smith</li>
                <li>Bob Johnson</li>
                <li>Alice Brown</li>
            </ul>
        </div>
        <div class="team-box">
            <li class="team2">Team Beta</li>
            <ul class="employee">
                <li>Michael White</li>
                <li>Sarah Davis</li>
                <li>David Wilson</li>
                <li>Emily Clark</li>
            </ul>
        </div>
        <div class="team-box">
            <li class="team2">Team Charlie</li>
            <ul class="employee">
                <li>Chris Martinez</li>
                <li>Jessica Lee</li>
                <li>Ryan Thomas</li>
                <li>Olivia Hall</li>
            </ul>
        </div>
        <div class="team-box">
            <li class="team2">Team Delta</li>
            <ul class="employee">
                <li>Daniel Young</li>
                <li>Laura Allen</li>
                <li>Kevin Scott</li>
                <li>Emma Harris</li>
            </ul>
        </div>
        <div class="team-box">
            <li class="team2">Team Echo</li>
            <ul class="employee">
                <li>Brandon King</li>
                <li>Stephanie Wright</li>
                <li>Patrick Lopez</li>
                <li>Hannah Green</li>
            </ul>
        </div>
        <div class="team-box">
            <li class="team2">Team Foxtrot</li>
            <ul class="employee">
                <li>Eric Adams</li>
                <li>Rebecca Nelson</li>
                <li>Steven Baker</li>
                <li>Nicole Carter</li>
            </ul>  
        </div>
        </div>
    </div>
</body>
</html>

