<!DOCTYPE html>
<html lang="en" class="body">
    <h1>Welcome to the Company Page</h1>
    <div name="about">
        <h2>About us</h2>
        <p>Risen One Consulting (WOSB) is an innovative technology solutions consulting firm
            focusing on cloud modernization efforts. Our goal is to achieve focus, strategic,
            and safe modernization efforts using the latest technology and expertise. Our
            Midwest values and leading expertise in both private and public sectors makes us
            an execellent choice for your business.
        </p>
    </div>
    <br>
    <div name="leader">
        <h2>Our Leaders</h2>
    </div>
    <br>
    <div name="mission">
        <h2>Mission Statement</h2>
    </div>
</html>